@page
@model IndexModel
@{
    ViewData["Title"] = "Forza Analytics Web - Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Please Select an area from above...</p>
</div>
