@page
@model ForzaAnalytics.Web.Pages.LapTimesModel
@{
    ViewData["Title"] = "Lap Times";
}

<p>Please load a telemetry file</p>
<hr />
<form method="post" enctype="multipart/form-data" name="telemetryForm">
    <div class="mb-3" name="formContainer">
        <label for="telemtryFile" class="form-label">Telemetry File:</label>
        <input type="file" class="form-control-sm" accept=".fztel" name="telemetryFile">
        <button value="load" name="loadTelemetry" type="submit" class="btn btn-primary">Load</button>
        <button value="loadSample" name="loadTelemetry" type="submit" class="btn btn-secondary">Load Sample Telemetry</button>
    </div>
</form>
<hr />
<div class="container">
    <table class="table table-striped-columns">
        <thead>
            <tr>
                <th scope="col">Lap Number</th>
                <th scope="col">Time</th>
                <th scope="col">Fuel Remaining</th>
                <th scope="col">Avg. Speed</th>
                <th scope="col">% Full Throttle</th>
                <th scope="col">% Brake</th>
                <th scope="col">Min. Speed</th>
                <th scope="col">Max. Speed</th>
                <th scope="col">Fuel Used</th>
                <th scope="col">Delta From Best</th>
            </tr>
        </thead>
        <tbody id="lapTimesTable">
        </tbody>
    </table>
</div>

@section Scripts{
    @if (Model.Telemetry.ExtendedPositions.Count > 0)
    {
        <script>
            ClearLapTimeTable()
            LoadLapTimes(@Html.Raw(Json.Serialize(Model.LapTimes)));
        </script>
    }
}