<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ListeningIpAddress" value="192.168.68.72"></add>
		<add key="ListeningPort" value="6969"></add>
		<add key="TrackOnOpen" value="true"></add>
		<add key="UseMetric" value="true"/>
		<add key="MessageRate" value="Full"></add>
		<add key="ClearStats" value="false"></add>
		<add key="SaveStats" value="true"></add>
	</appSettings>
</configuration>